<body class="tweet-body">
  <header class="index-header">
    <nav class="header-item">
      <div class="nav-list">
        <ul class="nav-list-item">
          <%= link_to '新規投稿', new_tweet_path,class:"fas fa-plus" %>
        </ul>
        <ul class="nav-list-item">
          <%= link_to 'Home', root_path,class:"fas fa-home" %>
        </ul>
        <ul class="nav-list-item">
          <%= link_to '投稿一覧', tweets_path,class:"fas fa-book" %>
        </ul>
      </div>
    </nav>
  </header>
  <main class="show-main">
    <p id="notice"><%= notice %></p>
    <div class="show-content">
      <p class="show-tweet-title">
      <%= @tweet.title %>
    </p>
    <div class="show-tweet-image">
      <%= attachment_image_tag @tweet, :image,:fill, 500, 500, fallback: "no_image.jpg"  %>
    </div>
    <p class="show-tweet-body">
      <%= @tweet.content %>
    </p>
    <%= link_to '編集', edit_tweet_path(@tweet),class:"show-item" %> |
    <%= link_to '戻る', tweets_path,class:"show-item" %> |
    <%= link_to '削除', @tweet, method: :delete, data: { confirm: 'Are you sure?' },class:"show-item" %>
    </div>
  </main>
  <footer></footer>
</body>